/**********************************************************************************/
/*********************************     COMMON     *********************************/
/**********************************************************************************/
body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.container-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); }

.width100p {
  width: 100%; }

.width150px {
  width: 150px; }

.margin-0 {
  margin: 0; }

.margin16px {
  margin-bottom: 16px; }

.padding-bottom-0 {
  padding-bottom: 0 !important; }

.padding-1em {
  padding: 1em; }

.padding-0001em {
  padding: 0 1em; }

.padding-0em {
  padding: 0; }

.app-login-row {
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

@media only screen and (min-width: 601px) {
  .app-login-row {
    width: 70%; } }

@media only screen and (min-width: 993px) {
  .app-login-row {
    width: 45%; } }

@media only screen and (min-width: 1201px) {
  .app-login-row {
    width: 40%; } }

#app-content, #main-view-content, .main-view-content-modal {
  overflow-y: auto;
  overflow-x: hidden; }

.btncol {
  margin: 0.5em 0;
  width: 100%; }

.editor-header {
  height: 40px !important;
  line-height: 40px !important; }

.editor-header-nav {
  height: auto;
  background-color: #efebe9;
  box-shadow: none; }

.editor-section {
  padding-top: 0;
  padding-bottom: 0; }

.card-search-nav {
  width: calc(100% - 8px) !important;
  margin: 4px auto 2px auto !important;
  background: white !important; }

nav.card-search-nav .input-field label i {
  color: #9e9e9e; }

.editor-header-title {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 0.5em;
  color: rgba(0, 0, 0, 0.87); }

.editor-header-button {
  padding: 0 10px !important;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 25% 25%; }

.editor-header-button-apply {
  color: green; }

.editor-header-button-cancel {
  color: red; }

.row-inputs {
  margin: 0 !important;
  padding: 0 !important; }

table {
  border-spacing: 0;
  border: 1px solid rgba(0, 0, 0, 0.12); }

table.striped tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important; }

tbody {
  display: block;
  overflow: auto; }

thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  min-height: 36px; }

thead {
  background-color: #efebe9; }

td, th {
  padding: 0.5em 0.5em; }

.table {
  display: table;
  width: 100%; }

.table-row {
  display: table-row;
  width: 100%; }

.col-auto {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none; }

.col-md-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px; }

.table-cell-input {
  width: 100% !important;
  text-align: right;
  margin: 0 !important; }

input[type='number'] {
  appearance: textfield; }

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button,
input[type='number']:hover::-webkit-inner-spin-button,
input[type='number']:hover::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.row-table, .row-table-report {
  padding: 0.2em;
  margin: 0; }

.row-table-report {
  font-size: 0.85em; }

.col-table {
  padding: 0 !important; }

.doc-edit-ref {
  cursor: pointer; }

.doc-edit-ref-del {
  margin-top: -48px;
  cursor: pointer; }

/**********************************************************************************/
/*******************************     END COMMON     *******************************/
/**********************************************************************************/
