<div id="about-view">

    <div class="row">
        <div class="col s12 m12 l12 xl12">

            <div class="section">
                <h4>POS Cloud</h4>
                <h5>Система учета и автоматизации магазина, кафе, ресторана</h5>
                <p>Версия 0.0.1</p>
            </div>
            <div class="divider"></div>

            <div class="section">
                <h5>Контакты</h5>
                <p><b>Адрес:</b> г. Москва</p>
                <p><b>Техническая поддержка:</b> supposcloud@gmail.com</p>
                <p><b>E-mail:</b> supposcloud@gmail.com</p>
                <p><b>Телефон:</b> +7 (000) 000-00-00, +7 (000) 000-00-00</p>
            </div>
            <div class="divider"></div>

            <div class="section">
                <h5>Полезная информация</h5>
                <p><b>Сайт разработчика:</b> <a href="http://unkprog.pro/">https://www.site.pro</a></p>
            </div>
        </div>
    </div>

</div>
