<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="Database.DataSource" value="31.31.196.211"/>
  <add key="Database.InitialCatalog" value="u0623216_POSCloudDB"/>
  <add key="Database.IsSSPI" value="false"/>
  <add key="Database.UserID" value="u0623216_poscloud"/>
  <add key="Database.Password" value="6jVMGL!g"/>

  <add key="Database.Path.Sql" value="\Scripts\Sql"/>
  <add key="Database.Path.Sql.Data" value="\Scripts\Sql\Data"/>
  <add key="Database.Path.Sql.UserDb" value="\Scripts\Sql\UserDb"/>
  <add key="Database.Path.Query" value="\Scripts\Query"/>


  <add key="Mail.Address" value="support@poscloudgb.ru"/>
  <add key="Mail.Password" value="6jVMGL!g"/>

  <add key="Admin.UserID" value="admin"/>
  <add key="Admin.Password" value="hrau4Sah"/>
</appSettings>
