body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container-center {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.width100p {
    width: 100%;
}

.width150px {
    width: 150px;
}

.margin16px {
    margin-bottom: 16px;
}

.padding-bottom-0 {
    padding-bottom: 0 !important;
}

#app-content{
    overflow-y:auto;
}
