body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.width100p {
    width: 100%;
}

.width150px {
    width: 150px;
}

.margin16px {
    margin-bottom: 16px;
}

.padding-bottom-0 {
    padding-bottom: 0 !important;
}

#app-content, #main-view-content {
    overflow-y: auto;
    overflow-x: hidden;
}


.sidenav .user-view {
    padding: 1em;
    margin: 0;
}

.person-image {
    width: 60px !important;
    height: 60px !important;
    background-color: #e6e6e6;
    background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTguMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDM0OS42NjcgMzQ5LjY2NyIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzQ5LjY2NyAzNDkuNjY3OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjEyOHB4IiBoZWlnaHQ9IjEyOHB4Ij4KPGc+Cgk8cGF0aCBkPSJNMTc0LjgzMywxOTcuMjA0YzI0LjEyNSwwLDgwLjg0Ni0yOS4wMzQsODAuODQ2LTk4LjYwM0MyNTUuNjgsNDQuMTQ1LDI0OC4zMjksMCwxNzQuODMzLDAgICBjLTczLjQ5NSwwLTgwLjg0Niw0NC4xNDUtODAuODQ2LDk4LjYwMkM5My45ODcsMTY4LjE3LDE1MC43MDgsMTk3LjIwNCwxNzQuODMzLDE5Ny4yMDR6IE0xMDYuMDcsODIuMTQ2ICAgYzUuNjc5LTEwLjk4MywxNy45NjMtMjMuNjc1LDQ0LjM4MS0yMy4xMTJjMCwwLDE1Ljc0NiwzOC4xOTQsOTMuMDUsMjEuMDQyYzAuMzEyLDYuMTAxLDAuNDEsMTIuMzI2LDAuNDEsMTguNTI2ICAgYzAsMzQuMDA1LTE1LjAxNSw1NS4wNzUtMjcuNjEyLDY2Ljc2MmMtMTUuODcyLDE0LjcyNy0zMy40OTQsMjAuMDcyLTQxLjQ2NiwyMC4wNzJjLTcuOTcyLDAtMjUuNTk0LTUuMzQ1LTQxLjQ2Ni0yMC4wNzIgICBjLTEyLjU5Ny0xMS42ODctMjcuNjEyLTMyLjc1Ny0yNy42MTItNjYuNzYyQzEwNS43NTYsOTMuMTAxLDEwNS44MzYsODcuNTgxLDEwNi4wNyw4Mi4xNDZ6IiBmaWxsPSIjY2NjY2NjIi8+Cgk8cGF0aCBkPSJNMzI0LjkyNiwyOTguMzI3Yy00LjEyNy0yNS42NjUtMTIuNjI1LTU4LjcyNC0yOS42NjgtNzAuNDcyYy0xMS42MzgtOC4wMjQtNTIuMjQzLTI5LjcxOC02OS41ODItMzguOTgybC0wLjMtMC4xNiAgIGMtMS45ODItMS4wNTktNC40MDItMC44NDctNi4xNywwLjU0MWMtOS4wODMsNy4xMzEtMTkuMDMzLDExLjkzNy0yOS41NzMsMTQuMjg0Yy0xLjg2MiwwLjQxNS0zLjM5LDEuNzM4LTQuMDY3LDMuNTIxICAgbC0xMC43MzMsMjguMjkxbC0xMC43MzMtMjguMjkxYy0wLjY3Ny0xLjc4My0yLjIwNS0zLjEwNi00LjA2Ny0zLjUyMWMtMTAuNTQtMi4zNDctMjAuNDktNy4xNTMtMjkuNTczLTE0LjI4NCAgIGMtMS43NjgtMS4zODgtNC4xODgtMS42MDEtNi4xNy0wLjU0MWMtMTcuMTMzLDkuMTU1LTU4LjIzNSwzMS4yOTEtNjkuODMxLDM5LjEwN2MtMTkuNjE5LDEzLjIxNy0yOC4xOTgsNjEuMDUyLTI5LjcxOCw3MC41MDcgICBjLTAuMTUxLDAuOTM4LTAuMDYzLDEuODk3LDAuMjUzLDIuNzkyYzAuNzAyLDEuOTgyLDE4LjcwOCw0OC41NDgsMTQ5LjgzOSw0OC41NDhzMTQ5LjEzNy00Ni41NjYsMTQ5LjgzOS00OC41NDggICBDMzI0Ljk4OSwzMDAuMjI0LDMyNS4wNzcsMjk5LjI2NCwzMjQuOTI2LDI5OC4zMjd6IE0yNjQuNSwyODIuNjY2bC0yNS42NjcsOGwtMjUuNjY3LTh2LTEzLjgxSDI2NC41VjI4Mi42NjZ6IiBmaWxsPSIjY2NjY2NjIi8+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPC9zdmc+Cg==);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    -webkit-box-shadow: rgba(0, 0, 0, 0.32) 2px 4px 6px 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.32) 2px 4px 6px 1px;
    box-shadow: rgba(0, 0, 0, 0.32) 2px 4px 6px 1px;
}

.person-info {
    line-height: 1em !important;
}

.divider-menu {
    margin: 0 !important;
}


.btncol {
    margin: 0.5em 0;
    width: 100%;
}
