@page {
    margin: 5mm;
}

.truncate-print {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.center-print {
    text-align: center;
}

.right-print {
    text-align: right;
}

.left-print {
    text-align: left;
}

.check-container {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid silver;
}

.check-container.size80 {
    width: 78mm;
    padding: 5mm;
}

.check-container.size58 {
    width: 57mm;
    padding: 4mm;
}

.check-view {
    font-family: Arial;
    font-weight: normal;
    color: black;
}

.check-view.size80 {
    font-size: 2.8mm;
    width: 68mm;
}

.check-view.size58 {
    font-size: 2.5mm;
    width: 50mm;
}

.check-view-row-delimiter {
    border-bottom: 1px solid black;
}

.check-view-name, .check-view-total {
    float: left;
}

.check-view-name.size80, .check-view-total.size80 {
    width: 45mm;
}

.check-view-name.size58, .check-view-total.size58 {
    width: 33mm;
}

.check-view-price, .check-view-total-price {
    float: right;
}

.check-view-price.size80, .check-view-total-price.size80 {
    width: 20mm;
}

.check-view-price.size58, .check-view-total-price.size58 {
    width: 15mm;
}

.check-view-total {
    text-transform: uppercase;
    font-weight: bold;
}

.check-view-total-price {
    font-weight: bold;
}

@media print {
    #editor-view-productmap{
        font-size: 12px;
    }
    #btn-add-map {
        display: none;
    }
    

    #editor-view-productmap-colphoto {
        width: 30%;
        margin-left: auto;
        left: auto;
        right: auto;
    }

    #editor-view-productmap-colapprove {
        width: 60%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
}