<div id="editor-view-productmapapprovesign">

    <div class="row row-inputs">
        <div class="input-field col s12 m12 l12 xl12">
            <textarea id="editor-view-productmapapprovesign-approver" class="materialize-textarea" data-length="3098" data-bind="value:editModel.approver"></textarea>
            <label for="editor-view-productmapapprovesign-approver" data-bind="text:labelApprover"></label>
        </div>
    </div>
    <div class="row row-inputs">
        <div class="input-field col s12 m12 l12 xl12">
            <textarea id="editor-view-productmapapprovesign-signer" class="materialize-textarea" data-length="3098" data-bind="value:editModel.signer"></textarea>
            <label for="editor-view-productmapapprovesign-signer" data-bind="text:labelSigner"></label>
        </div>
    </div>
</div>
