<div id="editor-view-unit">
    <div class="padding-0001em">

        <div class="section">
            <h5 data-bind="text:Header"></h5>
        </div>

        <div class="row row-inputs">
            <div class="col s12 m6 l4 xl3">
                <div class="input-field">
                    <input id="editor-view-unit-code" type="text" data-length="28" data-bind="value:editModel.code">
                    <label for="editor-view-unit-code" data-bind="text:labelCode"></label>
                </div>
            </div>
            <div class="col s12 m6 l4 xl3">
                <div class="input-field">
                    <input id="editor-view-unit-nameshort" type="text" data-length="60" data-bind="value:editModel.nameshort">
                    <label for="editor-view-unit-nameshort" data-bind="text:labelNameShort"></label>
                </div>
            </div>
            <div class="col s12 m12 l12 xl12">
                <div class="input-field">
                    <input id="editor-view-unit-name" type="text" data-length="150" data-bind="value:editModel.name">
                    <label for="editor-view-unit-name" data-bind="text:labelName"></label>
                </div>
            </div>
        </div>
    </div>
</div>
