<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define ProductName="GriB.PrintServer.Windows.Setup" ?>
  <?define ProductVersion="1.0.0.0" ?>
  <?define ProductCode="4ae6055f-4b69-43c6-834f-adfde9774cd2"?>
  <?define UpgradeCode="8edf9dba-b66b-4ff1-8853-17dbcba6f5d0"?>
  <?define Manufacturer="POS Cloud"?>

  
  <Product Id="$(var.ProductCode)" Name="$(var.ProductName)" Language="1049" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of POS Cloud PrintServer is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="GriB.PrintServer.Windows.Setup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="GriB.PrintServer.Windows.Setup" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
    
			<Component Id="ProductComponent">
        <File Source="$(var.MyApplication.TargetPath)" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
