<div id="document-view">
    <div class="row">
        <div class="col s12 m12 l12 xl12">
            <div class="section">
                <h5 data-bind="text:labelDocuments"></h5>
            </div>
            <div class="divider"></div>

            <div class="section">
                <h5 data-bind="text:labelMovementGoods"></h5>
                <p>
                    <div class="row">
                        <div class="col s12 m6 l4 xl3">
                            <a id="btn-arrival" class="btn btncol" data-bind="text:labelArrival"></a>
                        </div>
                        <div class="col s12 m6 l4 xl3">
                            <a id="btn-sale" class="btn btncol" data-bind="text:labelSale"></a>
                        </div>

                        <div class="col s12 m6 l4 xl3">
                            <a id="btn-writeoff" class="btn btncol" data-bind="text:labelWriteOff"></a>
                        </div>
                        <div class="col s12 m6 l4 xl3">
                            <a id="btn-movement" class="btn btncol" data-bind="text:labelMovement"></a>
                        </div>
                        <!--<div class="col s12 m6 l4 xl3">
                            <a id="btn-return" class="btn btncol" data-bind="text:labelReturn"></a>
                        </div>-->
                        <!--<div class="col s12 m6 l4 xl3">
                            <a id="btn-consumption" class="btn btncol" data-bind="text:labelConsumption"></a>
                        </div>
                        <div class="col s12 m6 l4 xl3">
                            <a id="btn-production" class="btn btncol" data-bind="text:labelProduction"></a>
                        </div>-->
                    </div>
                </p>
            </div>
            <div class="divider"></div>
            <div class="section">
                <h5 data-bind="text:labelMovementFunds"></h5>
                <p>
                    <div class="row">
                        <div class="col s12 m6 l4 xl3">
                            <a id="btn-payment" class="btn btncol" data-bind="text:labelPayment"></a>
                        </div>
                        <!--<div class="col s12 m6 l4 xl3">
                            <a id="btn-encashment" class="btn btncol" data-bind="text:labelEncashment"></a>
                        </div>
                        <div class="col s12 m6 l4 xl3">
                            <a id="btn-deposit" class="btn btncol" data-bind="text:labelDeposit"></a>
                        </div>
                        <div class="col s12 m6 l4 xl3">
                            <a id="btn-withdrawing" class="btn btncol" data-bind="text:labelWithDrawing"></a>
                        </div>-->
                    </div>
                </p>
            </div>
        </div>
    </div>

</div>
