<div id="paymentnoncash-view">
    <div class="row numpad-header">
        <h3 class="center-align numpad-header" data-bind="text:Header"></h3>
    </div>
    <div class="row row-inputs">
        <div class="input-field col s12 m12 l6 xl6 offset-l3 offset-xl3 col-input-numpad">
            <input id="paymentnoncash-view-totalsum" disabled type="text" class="input-numpad" data-bind="value:totalSumText">
            <label for="paymentnoncash-view-totalsum" data-bind="text:labelTotalToPay"></label>
        </div>
        <div class="input-field col s12 m12 l6 xl6 offset-l3 offset-xl3 col-input-numpad">
            <input id="paymentnoncash-view-received" disabled type="text" class="input-numpad">
            <label for="paymentnoncash-view-received" data-bind="text:labelReceiveSum"></label>
        </div>
        <div class="input-field col s12 m12 l6 xl6 offset-l3 offset-xl3 col-input-numpad">
            <input id="paymentnoncash-view-surrender" disabled type="text" class="input-numpad">
            <label for="paymentnoncash-view-surrender" data-bind="text:labelSurrenderSum"></label>
        </div>
    </div>
    <div class="row row-btn-numpad">

        <div class="col s4 m4 l2 xl2 offset-l3 offset-xl3 col-btn-numpad">
            <a id="btn-num-cancel" class="btn btncol">Отмена</a>
        </div>
        <div class="col s8 m8 l4 xl4 col-btn-numpad">
            <a id="btn-num-apply" class="btn btncol green darken-1">Оплата</a>
        </div>
    </div>
</div>

