@{
    ViewData["Title"] = "Главная";
}

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <h1 class="header-parallax center white-text">ОБЛАЧНЫЕ КАССЫ</h1>
            <div class="row center">
                <h5 class="header-parallax col s12 light white-text">Автоматизация ресторана</h5>
                <h5 class="header-parallax col s12 light white-text">Автоматизация кафе</h5>
                <h5 class="header-parallax col s12 light white-text">Автоматизация бизнеса</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="~/img/parallax/img1.png" alt="Unsplashed background img 1"></div>
</div>

<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>
<h1 class="display-4">Главная</h1>

