@{
    ViewData["Title"] = "Privacy Policy";
}
    <div class="container">
        <div class="section">
            <h4>Политика конфиденциальности</h4>
            <p>
                Внимательно прочитайте настоящую Политику конфиденциальности, перед использованием POS Cloud. Если вы хотите создать Аккаунт, Вам необходимо принять Условия и Политику конфиденциальности, а также другие документы и рекомендации POS Cloud, которые ссылаются на эти документы.
                Эта Политика конфиденциальности была обновлена ​​16 июня 2018 года.
            </p>
        </div>

        <div class="section">
            <h5>Конфиденциальность</h5>
            <div class="divider"></div>
            <p>
                POS Cloud стремится к сохранению конфиденциальности информации всех своих Пользователей.
                Определения терминов, используемых в данном документе, приведены в Условиях использования (“Условия”).
            </p>
        </div>

        <div class="section">
            <h5>Распространение</h5>
            <div class="divider"></div>
            <p>
                Эта Политика конфиденциальности распространяется на всю информацию, предоставленную Пользователями при использовании POS Cloud
                , в том числе по электронной почте, а также любую информацию, которая может быть автоматически доступна при использовании POS Cloud.
            </p>
        </div>

        <div class="section">
            <h5>Согласие</h5>
            <div class="divider"></div>
            <p>
                Регистрируясь на Сайте и/или используя Приложение, Пользователи дают свое согласие на сбор, использование, разглашение, хранение и обработку их информации в соответствии с данной Политикой конфиденциальности.<br />
                Не используйте POS Cloud, если Вы не готовы принять Условия использования и эту Политику конфиденциальности. Принимая условия настоящей Политики конфиденциальности, Вы подтверждаете свое согласие на сбор и обработку определенной информации о Вас в целях описанных ниже.<br />
                При использовании POS Cloud Вы соглашаетесь и гарантируете, что являетесь совершеннолетним и дееспособным лицом, способным быть в полной мере не только носителем прав, но и нести ответственность за свои действия.
            </p>
        </div>

        <div class="section">
            <h5>Изменения в политике конфиденциальности</h5>
            <div class="divider"></div>
            <p>
                POS Cloud может изменять или обновлять настоящую Политику конфиденциальности время от времени, с или без уведомления Пользователей.
                Используя POS Cloud, Вы соглашаетесь соблюдать требования Политики конфиденциальности, которая является действующей на момент Вашего доступа к POS Cloud.
            </p>
        </div>

        <div class="section">
            <h5>Предоставляемая информация</h5>
            <div class="divider"></div>
            <p>
                Для того, чтобы пользоваться Услугами, все Пользователи должны будут представить определенную информацию о себе, которая не является персональными данными и не может персонифицировать конкретное физическое лицо.
                Возможно, в некоторых случаях, потребуется предоставить дополнительную информацию, в том числе если этого требует действующее законодательство России в отношении юридических лиц.<br />
                Если Вы используете POS Cloud, мы можем собирать и хранить такую ​​информацию:
            </p>
            <p>
                1. Ваш адрес электронной почты и пароль для входа на сайт в зашифрованном виде;<br />
                2. Ваши телефоны (служебные, рабочие);<br />
                3. Ваше местоположение, тип браузера и операционной системы, способы просмотра веб-сайта (например, через cookies) и историю продаж;<br />
                4. другую информацию, которую Вы сами нам предоставляете или информацию о Вас, которую мы можем получать автоматически на основании Вашего взаимодействия с POS Cloud.<br />
            </p>
            <p>

                Вы можете взаимодействовать с POS Cloud, например, если вы:
            </p>
            <p>
                1. зарегистрировались, подписались, позволили передачу данных или создали аккаунт на Сайте или используя Приложение;<br />
                2. открыли и/или ответили на электронные письма от POS Cloud;<br />
                3. используете Сайт и/или Приложение POS Cloud;<br />
                4. а также в любых других случаях при использовании Вами POS Cloud.<br />
            </p>
        </div>

        <div class="section">
            <h5>Информация, которая не собирается</h5>
            <div class="divider"></div>
            <p>
                Мы не запрашиваем от Вас финансовые документы, банковские реквизиты, а также персональные данные в отношении Вас или каких-либо третьих лиц, в том числе Ф. И. О.
                , копии документов, подтверждающих личность и идентификационный номер физических лиц, и Вы обязуетесь не предоставлять нам такие данные.
                Мы не производим хранение, обработку и передачу персональных данных.
                Если Вас просят предоставить такую информацию при использовании POS Cloud, незамедлительно свяжитесь со службой поддержки POS Cloud.<br />
            </p>
        </div>

        <div class="section">
            <h5>Опции</h5>
            <div class="divider"></div>
            <p>
                POS Cloud позволяет управлять предоставленными Вами данными и ограничивать способы взаимодействия POS Cloud Вами.<br />
                Но, даже если Вы решите отменить оповещения, у POS Cloud все равно может возникнуть необходимость связаться с Вами, чтобы донести важную информацию по операциям, связанных с Вашим Аккаутном.
                В этом случае мы направим Вам сообщение на электронную почту.
            </p>
        </div>

        <div class="section">
            <h5>Использование информации и данных</h5>
            <div class="divider"></div>
            <p>
                Информация, предоставленная Вами, будет использоваться только в целях предоставления Услуг, общения с Вами в отношении Услуг или сотрудничества с третьими лицами, если это не противоречит действующему законодательству Российской федерации. <br />
                POS Cloud оставляет за собой право использовать данные (на анонимной основе) в маркетинговых целях.
            </p>
        </div>

        <div class="section">
            <h5>Раскрытие информации</h5>
            <div class="divider"></div>
            <p>
                POS Cloud не раскрывает информацию Пользователей третьим лицам, за исключением следующих случаев:
            </p>
            <p>
                1. корпоративной продажи, слияния, реорганизации, ликвидации или аналогичного события, когда информация (данные) могут быть частью переданных неимущественных активов;<br />
                2. данные могут быть доступны партнерам и аффилированным лицам POS Cloud в целях продвижения и улучшения POS Cloud, на условиях, совместимых с данной Политикой конфиденциальности;<br />
                3. в случаях привлечения третьих лиц для выполнения определенных функций, связанных с использованием POS Cloud и улучшением качества Услуг.
                Информация в таких случаях передается в объеме, необходимом для оказания услуг такими лицами, а также в соответствии с требованиями действующей Политики конфиденциальности;<br />
                4. в случаях, предусмотренных действующим законодательством, а также с целью предупреждения мошенничества, устранения технических неполадок и/или проблем с безопасностью,
                защиты прав и интересов, собственности или безопасности POS Cloud и/или его правообладателей, Пользователей или иных лиц, как это требуется и допускается законодательством.<br />
            </p>
        </div>

        <div class="section">
            <h5>Доступ и обновление информации</h5>
            <div class="divider"></div>
            <p>
                Пользователи могут в любое время изменять, дополнять или удалять предоставленную ими информацию по их желанию.
            </p>
        </div>

        <div class="section">
            <h5>Хранение информации</h5>
            <div class="divider"></div>
            <p>
                POS Cloud будет надежно хранить информацию своих Пользователей.Таким образом, информация и данные, полученные от пользователей,
                могут храниться за пределами территории Российской Федерации.
            </p>
        </div>

        <div class="section">
            <h5>Cookies</h5>
            <div class="divider"></div>
            <p>
                POS Cloud использует файлы cookies, которые автоматически генерируются во время вашего взаимодействия с POS Cloud.
                Вы можете настроить свой браузер и/или устройство не принимать cookies, но если сделать это,
                то использование POS Cloud может быть невозможным или некорректна работа.
            </p>
        </div>

        <div class="section">
            <h5>Поддержка</h5>
            <div class="divider"></div>
            <p>
                В случае возникновения вопросов по использованию POS Cloud, свяжитесь с нами по адресу <a href="mailto:support@poscloudgb.pr">support@poscloudgb.pro</a>
            </p>
        </div>
    </div>
