<div id="editor-view-productmap">
    <div class="row row-inputs">
        <div class="col s12 m4 l4 xl2">
            <div class="row" style="margin-bottom: 0;">
                <div id="editor-view-productmap-addphoto" class="col s12 m12 l12 xl12 center-align">
                    <img id="editor-view-productmap-photo" class="card-image" />
                    <input type="file" id="editor-view-productmap-image-input" style="display:none" />
                </div>
            </div>
        </div>
        <div class="input-field col s12 m8 l8 xl10">
            <div class="right">
                <div class="center">
                    <h5 id="editor-view-productmap-approve" class="ccursor">
                        &laquo;<span data-bind="text:labelApprove"></span>&raquo;<br />
                        <span>
                            <span data-bind="text:editModel.approver"></span><br />
                            ______________________________
                        </span>
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="section editor-section center">
        <h3 class="product-map-header" data-bind="text:HeaderTechMap"></h3>
    </div>

    <div class="row row-inputs">
        <div class="input-field col s12 m12 l12 xl12">
            <input id="editor-view-productmap-name" class="center" type="text" data-length="60" data-bind="value:editModel.name">
        </div>
    </div>
    <div class="row row-inputs">
        <div class="input-field col s12 m12 l12 xl12">
            <div id="editor-view-productmap-table-container"></div>
        </div>
    </div>
    <div class="row row-inputs">
        <div class="input-field col s12 m12 l12 xl12">
            <input id="editor-view-productmap-finishedproduct" type="text" data-bind="value:editModel.finishproduct">
            <label for="editor-view-productmap-finishedproduct" data-bind="text:labelFinishedProduct"></label>
        </div>
        <div class="input-field col s12 m12 l12 xl12">
            <input id="editor-view-productmap-finisheddish" type="text"  data-bind="value:editModel.finishdish">
            <label for="editor-view-productmap-finisheddish" data-bind="text:labelFinishedDish"></label>
        </div>
    </div>
    <div class="row row-inputs">
        <div class="input-field col s12 m8 l8 xl10">
            <div class="left">
                <h5 id="editor-view-productmap-sign" class="product-map-header ccursor">
                    <span data-bind="text:labelMapMade"></span><br />
                    <span><span data-bind="text:editModel.signer"></span> ________________________________________________</span>
                </h5>
            </div>
        </div>
    </div>

    <!-- Dropdown Structure -->
    <a id="editor-view-productmap-menu-trigger" class="hide" data-target='editor-view-productmap-menu'></a>
    <ul id="editor-view-productmap-menu" class="dropdown-content">
        <li><a id="editor-view-productmap-menu-add" data-bind="text:labelAddRow"></a></li>
        <li><a id="editor-view-productmap-menu-edit" data-bind="text:labelEditRow"></a></li>
        <li><a id="editor-view-productmap-menu-del" data-bind="text:labelDeleteRow"></a></li>
    </ul>

    <!-- Dropdown Structure -->
    <a id="editor-view-productmap-menuh-trigger" class="hide" data-target='editor-view-productmap-menuh'></a>
    <ul id="editor-view-productmap-menuh" class="dropdown-content">
        <li><a id="editor-view-productmap-menuh-add" data-bind="text:labelAddRow"></a></li>
    </ul>
</div>


