<div id="posterminal-view">
    <ul id="posterminal-view-salepoints" class="dropdown-content"></ul>

    <div id="posterminal-view-main">

        <div id="posterminal-view-checks-container" class="">
            <div class="chip">Чек №1<i class="close material-icons">close</i></div>
            <div class="chip">Чек №2<i class="close material-icons">close</i></div>
            <div class="chip">Чек №3<i class="close material-icons">close</i></div>
        </div>

        <div id="posterminal-view-items">
            <nav id="posterminal-view-breadcrumbs">
                <div class="nav-wrapper">
                    <div id="pos-items-breadcrumbs" class="col s12">
                    </div>
                </div>
            </nav>

            <div id="posterminal-view-items-container" class="row pos-items-container">

            </div>

            <div id="progress-container-items" class="container-center">
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="progress-container-terminal" class="container-center">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>

</div>

