<div id="posterminal-view">
    <nav id="posterminal-view-breadcrumbs">
        <div class="nav-wrapper">
            <div id="pos-items-breadcrumbs" class="col s12">
                <a id="category_0" class="breadcrumb">Начало</a>
            </div>
        </div>
    </nav>

    <ul id="posterminal-view-salepoints" class="dropdown-content"></ul>
    
    <div id="posterminal-view-items-container" class="row pos-items-container">

    </div>
    
    <div id="progress-container-items" class="container-center">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>

</div>

