<div id="paymentnumpad-view">
    <div class="row">
        <div class="col s4 m4 l4 xl4">
            <a id="btn-num-1" class="btn btncol btn-numpad">1</a>
        </div>
        <div class="col s4 m4 l4 xl4">
            <a id="btn-num-2" class="btn btncol btn-numpad">2</a>
        </div>
        <div class="col s4 m4 l4 xl4">
            <a id="btn-num-3" class="btn btncol btn-numpad">3</a>
        </div>

        <div class="col s4 m4 l4 xl4">
            <a id="btn-num-4" class="btn btncol btn-numpad">4</a>
        </div>
        <div class="col s4 m4 l4 xl4">
            <a id="btn-num-5" class="btn btncol btn-numpad">5</a>
        </div>
        <div class="col s4 m4 l4 xl4">
            <a id="btn-num-6" class="btn btncol btn-numpad">6</a>
        </div>

        <div class="col s4 m4 l4 xl4">
            <a id="btn-num-7" class="btn btncol btn-numpad">7</a>
        </div>
        <div class="col s4 m4 l4 xl4">
            <a id="btn-num-8" class="btn btncol btn-numpad">8</a>
        </div>
        <div class="col s4 m4 l4 xl4">
            <a id="btn-num-9" class="btn btncol btn-numpad">9</a>
        </div>

        <div class="col s4 m4 l4 xl4">
            <a id="btn-num-colon" class="btn btncol btn-numpad">,</a>
        </div>
        <div class="col s4 m4 l4 xl4">
            <a id="btn-num-0" class="btn btncol btn-numpad">0</a>
        </div>
        <div class="col s4 m4 l4 xl4">
            <a id="btn-num-bspace" class="btn btncol btn-numpad"><i class="material-icons check-icon-num">keyboard_backspace</i></a>
        </div>


        <div class="col s4 m4 l4 xl4">
            <a id="btn-num-cancel" class="btn btncol">Отмена</a>
        </div>
        <div class="col s8 m8 l8 xl8">
            <a id="btn-num-apply" class="btn btncol green darken-1">Оплата</a>
        </div>
    </div>
</div>

