<div id="paymenttype-view">
    <div class="row numpad-header">
        <h3 class="center-align numpad-header" data-bind="text:Header"></h3>
    </div>
    <div class="row">
        <div class="col s12 m12 l8 xl6 offset-l2 offset-xl3">
            <a id="btn-cash" class="btn btncol check-btn-typepayment"><i class="material-icons left check-icon-typepayment">attach_money</i><span data-bind="text:labelCash"></span></a>
        </div>
        <div class="col s12 m12 l8 xl6 offset-l2 offset-xl3">
            <a id="btn-noncash" class="btn btncol check-btn-typepayment"><i class="material-icons left check-icon-typepayment">credit_card</i><span data-bind="text:labelNonCash"></span></a>
        </div>
        <div class="col s12 m12 l8 xl6 offset-l2 offset-xl3">
            <a id="btn-witoutpayment" class="btn btncol check-btn-typepayment"><i class="material-icons left check-icon-typepayment">money_off</i><span data-bind="text:labelWithOutPayment"></span></a>
        </div>
        <div class="col s12 m12 l8 xl6 offset-l2 offset-xl3">
            <a id="btn-cancel" class="btn btncol check-btn-typepayment"><i class="material-icons left check-icon-typepayment">close</i><span data-bind="text:labelCancel"></span></a>
        </div>
    </div>
</div>

