<div id="setting-view">
    <div class="row">
        <div class="col s12 m12 l12 xl12">
            <div class="section">
                <h5>Настройки</h5>
                <p>
                    <div class="row">
                        <div class="col s12 m12 l12 xl12">
                            Настройки - в разработке
                        </div>
                    </div>
                </p>
            </div>
            <div class="divider"></div>

            <div class="section">
                <h5>Организационная структура</h5>
                <p>
                    <div class="row">
                        <div class="col s12 m6 l4 xl3">
                            <a id="btn-organization" class="btn btncol" data-bind="text:labelOrganization">Организация</a>
                        </div>
                        <div class="col s12 m6 l4 xl3">
                            <a id="btn-salepoint" class="btn btncol" data-bind="text:labelSalesPoints">Точки продаж</a>
                        </div>
                        <div class="col s12 m6 l4 xl3">
                            <a id="btn-employee" class="btn btncol" data-bind="text:labelEmployees">Сотрудники</a>
                        </div>
                    </div>
                </p>
            </div>
            <div class="divider"></div>

            <div class="section">
                <h5>Валюты и единицы измерения</h5>
                <p>
                    <div class="row">

                        <div class="col s12 m6 l4 xl3">
                            <a id="btn-register" class="btn btncol" data-bind="text:labelCurrencies">Валюты</a>
                        </div>
                        <div class="col s12 m6 l4 xl3">
                            <a id="btn-register" class="btn btncol" data-bind="text:labelUnits">Справочники</a>
                        </div>
                    </div>
                </p>
            </div>
            <div class="divider"></div>

        </div>
    </div>
</div>
