<?xml version="1.0" encoding="utf-8"?>
<appSettings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add key="Server.Register" value="http://general.u0623216.plsk.regruhosting.ru/" xdt:Locator="Condition(@key='Server.Register')" xdt:Transform="SetAttributes(value)"/>

  <add key="Database.Path.Sql" value="\Scripts\Sql"/>
  <add key="Database.Path.Query" value="\Scripts\Query"/>
</appSettings>
