<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--<add key="Server.Register" value="https://general.poscloudgb.ru/"/>-->
  <add key="Server.Register" value="http://localhost:50962"/>

  <add key="Database.Path.Sql" value="\Scripts\Sql"/>
  <add key="Database.Path.Query" value="\Scripts\Query"/>
</appSettings>
