<div id="payment-view">
    <div id="payment-view-tab-header" class="padding-0001em">
        <div class="section editor-section">
            <h5 data-bind="text:labelHeader"></h5>
        </div>

        <div class="row row-inputs">
            <div class="input-field col s12 m6 l4 xl3">
                <input id="payment-view-date" type="text" class="datepicker">
                <label for="payment-view-date" data-bind="text:labelDate"></label>
            </div>
            <div class="input-field col s12 m6 l4 xl3">
                <label>
                    <input id="payment-view-conduct" type="checkbox" data-bind="checked:paymentConduct" />
                    <span data-bind="text:labelConduct"></span>
                </label>
            </div>
            <div class="input-field col s12 m6 l4 xl3">
                <select id="payment-view-payment-type" class="validate" data-bind="value:editModel.ptype">
                    <option value="0">Выберите</option>
                    <option value="1" data-bind="text:labelCash"></option>
                    <option value="2" data-bind="text:labelNonCash"></option>
                    <option value="3" data-bind="text:labelWithOutPayment"></option>
                </select>
                <label for="payment-view-method-payment" data-bind="text:labelMethodPayment"></label>
            </div>

            <div id="payment-view-sum-row" class="input-field col s12 m6 l4 xl3">
                <!--<span class="total-text-doc" data-bind="text:labelSum"></span><span class="total-text-doc">: </span><span class="total-text-doc" data-bind="text:totalSumText"></span>-->
                <input class="table-cell-input" type="number" data-bind="value:totalSumText" />
                <label for="payment-view-client" data-bind="text:labelSum"></label>
            </div>

        </div>

        <div class="row row-inputs">
            <div id="payment-view-salepoint-row" class="input-field col s12 m12 l6 xl6 col-input-numpad">
                <input id="payment-view-salepoint" type="text" disabled class="truncate black-text" data-bind="value: editModel.salepoint.name" style="cursor:pointer;font-weight:bold;">
                <label for="payment-view-salepoint" data-bind="text:labelSalepoint"></label>
            </div>
            <div id="payment-view-client-row" class="input-field col s12 m12 l6 xl6 col-input-numpad">
                <input id="payment-view-client" type="text" disabled class="truncate black-text" data-bind="value: editModel.client.name" style="cursor:pointer;font-weight:bold;">
                <label for="payment-view-client" data-bind="text:labelClient"></label>
                <i id="payment-view-client-clear" class="material-icons editor-header right doc-edit-ref-del">close</i>
            </div>
        </div>

    </div>

    <div id="payment-view-comment-row" class="row row-inputs">
        <div class="input-field col s12 m12 l12 xl12">
            <textarea id="payment-view-comment" class="materialize-textarea" data-length="510" data-bind="value:editModel.comment"></textarea>
            <label for="payment-view-comment" data-bind="text:labelComment"></label>
        </div>
    </div>
</div>
