@media only screen and (max-height: 667px) {
  html {
    line-height: 1.3em; }
  nav .brand-logo {
    font-size: 1.3rem; }
  nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    height: 40px;
    line-height: 40px; }
  .navbar-fixed {
    height: 40px; }
  #btn-check-new, #btn-add-map {
    height: 30px;
    line-height: 30px;
    width: 30px;
    border-radius: 15px; }
  .check-chip {
    height: 30px;
    line-height: 30px;
    border-radius: 15px; }
  .check-chip .close {
    font-size: 18px;
    line-height: 30px; }
  .info-label, .info-value {
    font-size: 0.9em; }
  .total-text {
    font-size: 1.1em;
    line-height: 1.1em; }
  .check-btn {
    height: 2.6em; }
  .check-icon {
    font-size: 1.8em !important;
    line-height: 1.5em !important;
    height: 1.5em !important; }
  .editor-header {
    height: 35px !important;
    line-height: 35px !important; }
  #posterminal-view-check-buttons, #posterminal-view-check-total, #posterminal-view-check-info {
    margin: 2px 0; }
  #posterminal-view-check-positions {
    font-weight: normal; }
  .btncol {
    margin: .3em 0; }
  #posterminal-view-breadcrumbs {
    height: 44px;
    line-height: 44px; }
  .breadcrumb {
    font-size: 14px; }
  .btn-numpad {
    margin: .1em 0 !important;
    height: 60px;
    line-height: 60px; }
  .input-numpad {
    font-size: 2em !important;
    height: 2.5rem; } }
