<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link type="text/css" rel="stylesheet" href="/Content/css/material-icons/MaterialIcons.css"  media="screen,projection"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/Content/css/materialize.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="/Content/css/app.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div id="mainview"></div>
    <div id="progress-container" class="container container-center">
        <div class="progress center">
            <div id="progress-status" class="indeterminate"></div>
        </div>
    </div>
    <!--JavaScript at end of body for optimized loading-->
    <script data-main="/Content/js/app/init" src="/Content/js/lib/require/require.js"></script>
</body>
</html>