<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link type="text/css" rel="stylesheet" href="/Content/css/material-icons/MaterialIcons.min.css" />
    <!-- Compiled and minified CSS -->
    <link type="text/css" rel="stylesheet" href="/Content/css/materialize.min.css" />
    <!-- App css-->
    <link type="text/css" rel="stylesheet" href="/Content/css/app.min.css" />
    <link type="text/css" rel="stylesheet" href="/Content/css/app.mobile.min.css" />
    <link type="text/css" rel="stylesheet" href="/Content/css/app.print.min.css" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
</head>

<body>
    <div id="app-view"></div>

    <div id="progress-container" class="container-center">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>

    <script data-main="/Content/js/app/init" src="/Content/js/lib/require/require.es5.min.js"></script>
</body>
</html>