<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo center">POS Cloud</a>
        </div>
    </nav>
</div>

<ul id="slide-out" class="sidenav sidenav-fixed">
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>


<div id="app-content" data-bind="text:labelOk">

</div>


<!-- Modal Structure -->
<div id="app-error-dialog" class="modal">
    <div class="modal-content">
        <h4 id="app-error-dialog-header">Error</h4>

    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat" data-bind="text:labelOk">Agree</a>
    </div>
</div>