<div id="app-navbar" class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a id="app-title" class="brand-logo center" data-bind="text:AppHeader"></a>
        </div>
    </nav>
</div>

<ul id="app-menu" class="sidenav hide">
</ul>

<div id="app-content">

</div>


<!-- Modal Structure -->
<div id="app-error-dialog" class="modal">
    <div class="modal-content">
        <h4 id="app-error-dialog-header">Error</h4>
        <div id="app-error-dialog-content" class="row">
            Контент
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat" data-bind="text:labelOk">Agree</a>
    </div>
</div>