<div id="cashdialog-view">
    <div class="row numpad-header">
        <h3 class="center-align numpad-header" data-bind="text:HeaderCash"></h3>
    </div>
    <div class="row">
        <div class="col s12 m12 l8 xl6 offset-l2 offset-xl3">
            <a id="btn-cash-encashment" class="btn btncol check-btn-typepayment"><span data-bind="text:labelEncashment"></span></a>
        </div>
        <div class="col s12 m12 l8 xl6 offset-l2 offset-xl3">
            <a id="btn-cash-deposit" class="btn btncol check-btn-typepayment"><span data-bind="text:labelDeposit"></span></a>
        </div>
        <div class="col s12 m12 l8 xl6 offset-l2 offset-xl3">
            <a id="btn-cash-withdrawing" class="btn btncol check-btn-typepayment"><span data-bind="text:labelWithDrawing"></span></a>
        </div>
        <div class="col s12 m12 l8 xl6 offset-l2 offset-xl3">
            <a id="btn-cash-cancel" class="btn btncol check-btn-typepayment"><span data-bind="text:labelCancel"></span></a>
        </div>
    </div>
</div>

