<!DOCTYPE html>
<html>
<head>
    <title>Автоматизация ресторана и кафе: программы для кафе, баров, ресторанов - poscloudgb.ru</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta description="POS Cloud – это облачная касса нового поколения. Работает на всех устройствах, учет теперь проще не бывает. Онлайн программа для учета и автоматизации деятельности ресторанов и кафе.">
    <meta name="keywords" content="pos cloud автоматизация ресторана кафе система учета управления онлайн для общепита программы по для ресторанов">

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/materialize.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <partial name="_CookieConsentPartial" />
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <!--  Scripts-->
    <script src="~/js/lib/jquery/jquery-3.4.1.min.js"></script>
    <script src="~/js/lib/materialize/materialize.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
