<!DOCTYPE html>
<html>
<head>
    <title>Автоматизация ресторана и кафе: программы для кафе, баров, ресторанов - poscloudgb.ru</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta description="POS Cloud – это облачная касса нового поколения. Работает на всех устройствах, учет теперь проще не бывает. Онлайн программа для учета и автоматизации деятельности ресторанов и кафе.">
    <meta name="keywords" content="pos cloud автоматизация ресторана кафе система учета управления онлайн для общепита программы по для ресторанов">

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/materialize.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="site-color" role="navigation">
            <div class="nav-wrapper">
                <a id="logo-container" href="~/Home/Index" class="brand-logo">POS Cloud</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="~/Home/Index">Главная</a></li>
                    <li><a href="~/About/Index">О программе</a></li>
                    <li><a href="~/Prices/Index">Цены</a></li>
                    <li><a href="~/Support/Index">Поддержка</a></li>
                    <li><a href="~/Contact/Index">Контакты</a></li>
                </ul>
                <ul id="nav-mobile" class="sidenav site-color">
                    <li><a class="white-text" href="~/Home/Index">Главная</a></li>
                    <li><a class="white-text" href="~/About/Index">О программе</a></li>
                    <li><a class="white-text" href="~/Prices/Index">Цены</a></li>
                    <li><a class="white-text" href="~/Support/Index">Поддержка</a></li>
                    <li><a class="white-text" href="~/Contact/Index">Контакты</a></li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </header>
  
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    <footer class="page-footer site-color">
        <div class="container">
            &copy; 2019 - GriB.Site - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!--  Scripts-->
    <script src="~/js/lib/jquery/jquery-3.4.1.min.js"></script>
    <script src="~/js/lib/materialize/materialize.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
