<div id="document-view">
    <div id="document-view-tab-header" class="padding-0001em">
        <div class="section editor-section">
            <h5 data-bind="text:labelHeader"></h5>
        </div>

        <div class="row row-inputs">
            <div class="input-field col s12 m6 l4 xl3">
                <input id="document-view-date" type="text" class="datepicker">
                <label for="document-view-date" data-bind="text:labelDate"></label>
            </div>
            <div class="input-field col s12 m6 l4 xl3">
                <label>
                    <input type="checkbox" data-bind="checked:documentConduct" />
                    <span data-bind="text:labelConduct"></span>
                </label>
            </div>
        </div>

        <div class="row row-inputs">
            <div id="document-view-contractor-row" class="input-field col s12 m12 l6 xl6 col-input-numpad hide">
                <input id="document-view-contractor" type="text" disabled class="truncate black-text" data-bind="value: editModel.contractor.name" style="cursor:pointer;font-weight:bold;">
                <label for="document-view-contractor" data-bind="text:labelProvider"></label>
            </div>
            <div id="document-view-salepoint-row" class="input-field col s12 m12 l6 xl6 col-input-numpad">
                <input id="document-view-salepoint" type="text" disabled class="truncate black-text" data-bind="value: editModel.salepoint.name" style="cursor:pointer;font-weight:bold;">
                <label for="document-view-salepoint" data-bind="text:labelStock"></label>
            </div>
            <div id="document-view-salepointto-row" class="input-field col s12 m12 l6 xl6 col-input-numpad hide">
                <input id="document-view-salepointto" type="text" disabled class="truncate black-text" data-bind="value: editModel.salepointto.name" style="cursor:pointer;font-weight:bold;">
                <label for="document-view-salepointto" data-bind="text:labelStockTo"></label>
            </div>
            <div id="document-view-reason-row" class="input-field col s12 m12 l6 xl6 col-input-numpad hide">
                <input id="document-view-reason" type="text" disabled class="truncate black-text" data-bind="value: editModel.reason.name" style="cursor:pointer;font-weight:bold;">
                <label for="document-view-reason" data-bind="text:labelReason"></label>
            </div>
        </div>
        <div class="row">
            <div id="document-view-sum-row" class="input-field col s12 m12 l6 xl6 col-input-numpad">
                <span class="total-text-doc" data-bind="text:labelSum"></span><span class="total-text-doc">: </span><span class="total-text-doc" data-bind="text:totalSumText"></span>
            </div>
        </div>
    </div>

    <div id="document-view-positions">
        <table>
            <thead>
                <tr>
                    <th class="product-col-name" data-bind="text:labelName"></th>
                    <th class="product-col-quantity" data-bind="text:labelQuantityShort"></th>
                    <th class="product-col-unit" data-bind="text:labelUnitShort"></th>
                    <th class="product-col-price" data-bind="text:labelPrice"></th>
                    <th class="product-col-sum" data-bind="text:labelSum"></th>
                    <th class="product-col-btn"></th>
                </tr>
            </thead>

            <tbody id="product-position-rows"></tbody>
        </table>
    </div>

    <div id="document-view-comment-row" class="row row-inputs">
        <div class="input-field col s12 m12 l12 xl12">
            <textarea id="document-view-comment" class="materialize-textarea" data-length="254" data-bind="value:editModel.comment"></textarea>
            <label for="document-view-comment" data-bind="text:labelComment"></label>
        </div>
    </div>
</div>
