
.brand-logo {
    left: 1em;
}

.site-color {
    background-color: #3e2723;
}

.header-parallax {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #324158, 0 0 20px #324158, 0 0 25px #324158, 0 0 30px #324158, 0 0 35px #324158;
}

@media only screen and (max-width : 992px) {
    .header-parallax {
        font-size: 3rem;
    }
}

@media only screen and (max-width : 600px) {
    .header-parallax {
        font-size: 2rem;
    }
}


