<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="Database.DataSource" value="DESKTOP-6IUUPI8"/>
  <add key="Database.InitialCatalog" value="POSCloudDB"/>
  <add key="Database.IsSSPI" value="false"/>
  <add key="Database.UserID" value="sa"/>
  <add key="Database.Password" value="1"/>
</appSettings>
