@page {
  margin: 15mm; }

.truncate-print {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.center-print {
  text-align: center; }

.right-print {
  text-align: right; }

.left-print {
  text-align: left; }

.check-container {
  margin-left: auto;
  margin-right: auto;
  width: 78mm;
  padding: 5mm;
  border: 1px solid silver; }

.check-view {
  font-family: Arial;
  font-size: 2.8mm;
  font-weight: normal;
  color: black;
  width: 68mm; }

.check-view-row-delimiter {
  border-bottom: 1px solid black; }

.check-view-name, .check-view-total {
  width: 45mm;
  float: left; }

.check-view-price, .check-view-total-price {
  width: 20mm;
  float: right; }

.check-view-total {
  text-transform: uppercase;
  font-weight: bold; }

.check-view-total-price {
  font-weight: bold; }

@media print {
  #editor-view-productmap {
    font-size: 12px; }
  #btn-add-map {
    display: none; }
  #editor-view-productmap-colphoto {
    width: 30%;
    margin-left: auto;
    left: auto;
    right: auto; }
  #editor-view-productmap-colapprove {
    width: 60%;
    margin-left: auto;
    left: auto;
    right: auto; } }
