body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.container-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); }

.width100p {
  width: 100%; }

.width150px {
  width: 150px; }

.margin16px {
  margin-bottom: 16px; }

.padding-bottom-0 {
  padding-bottom: 0 !important; }

.padding-1em {
  padding: 1em; }

.padding-0001em {
  padding: 0 1em; }

#app-content, #main-view-content, .main-view-content-modal {
  overflow-y: auto;
  overflow-x: hidden; }

.sidenav .user-view {
  padding: 1em;
  margin: 0; }

.person-image {
  width: 60px !important;
  height: 60px !important;
  background-color: #e6e6e6;
  background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTguMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDM0OS42NjcgMzQ5LjY2NyIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzQ5LjY2NyAzNDkuNjY3OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjEyOHB4IiBoZWlnaHQ9IjEyOHB4Ij4KPGc+Cgk8cGF0aCBkPSJNMTc0LjgzMywxOTcuMjA0YzI0LjEyNSwwLDgwLjg0Ni0yOS4wMzQsODAuODQ2LTk4LjYwM0MyNTUuNjgsNDQuMTQ1LDI0OC4zMjksMCwxNzQuODMzLDAgICBjLTczLjQ5NSwwLTgwLjg0Niw0NC4xNDUtODAuODQ2LDk4LjYwMkM5My45ODcsMTY4LjE3LDE1MC43MDgsMTk3LjIwNCwxNzQuODMzLDE5Ny4yMDR6IE0xMDYuMDcsODIuMTQ2ICAgYzUuNjc5LTEwLjk4MywxNy45NjMtMjMuNjc1LDQ0LjM4MS0yMy4xMTJjMCwwLDE1Ljc0NiwzOC4xOTQsOTMuMDUsMjEuMDQyYzAuMzEyLDYuMTAxLDAuNDEsMTIuMzI2LDAuNDEsMTguNTI2ICAgYzAsMzQuMDA1LTE1LjAxNSw1NS4wNzUtMjcuNjEyLDY2Ljc2MmMtMTUuODcyLDE0LjcyNy0zMy40OTQsMjAuMDcyLTQxLjQ2NiwyMC4wNzJjLTcuOTcyLDAtMjUuNTk0LTUuMzQ1LTQxLjQ2Ni0yMC4wNzIgICBjLTEyLjU5Ny0xMS42ODctMjcuNjEyLTMyLjc1Ny0yNy42MTItNjYuNzYyQzEwNS43NTYsOTMuMTAxLDEwNS44MzYsODcuNTgxLDEwNi4wNyw4Mi4xNDZ6IiBmaWxsPSIjY2NjY2NjIi8+Cgk8cGF0aCBkPSJNMzI0LjkyNiwyOTguMzI3Yy00LjEyNy0yNS42NjUtMTIuNjI1LTU4LjcyNC0yOS42NjgtNzAuNDcyYy0xMS42MzgtOC4wMjQtNTIuMjQzLTI5LjcxOC02OS41ODItMzguOTgybC0wLjMtMC4xNiAgIGMtMS45ODItMS4wNTktNC40MDItMC44NDctNi4xNywwLjU0MWMtOS4wODMsNy4xMzEtMTkuMDMzLDExLjkzNy0yOS41NzMsMTQuMjg0Yy0xLjg2MiwwLjQxNS0zLjM5LDEuNzM4LTQuMDY3LDMuNTIxICAgbC0xMC43MzMsMjguMjkxbC0xMC43MzMtMjguMjkxYy0wLjY3Ny0xLjc4My0yLjIwNS0zLjEwNi00LjA2Ny0zLjUyMWMtMTAuNTQtMi4zNDctMjAuNDktNy4xNTMtMjkuNTczLTE0LjI4NCAgIGMtMS43NjgtMS4zODgtNC4xODgtMS42MDEtNi4xNy0wLjU0MWMtMTcuMTMzLDkuMTU1LTU4LjIzNSwzMS4yOTEtNjkuODMxLDM5LjEwN2MtMTkuNjE5LDEzLjIxNy0yOC4xOTgsNjEuMDUyLTI5LjcxOCw3MC41MDcgICBjLTAuMTUxLDAuOTM4LTAuMDYzLDEuODk3LDAuMjUzLDIuNzkyYzAuNzAyLDEuOTgyLDE4LjcwOCw0OC41NDgsMTQ5LjgzOSw0OC41NDhzMTQ5LjEzNy00Ni41NjYsMTQ5LjgzOS00OC41NDggICBDMzI0Ljk4OSwzMDAuMjI0LDMyNS4wNzcsMjk5LjI2NCwzMjQuOTI2LDI5OC4zMjd6IE0yNjQuNSwyODIuNjY2bC0yNS42NjcsOGwtMjUuNjY3LTh2LTEzLjgxSDI2NC41VjI4Mi42NjZ6IiBmaWxsPSIjY2NjY2NjIi8+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPC9zdmc+Cg==);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.32) 2px 4px 6px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.32) 2px 4px 6px 1px;
  box-shadow: rgba(0, 0, 0, 0.32) 2px 4px 6px 1px; }

.person-info {
  line-height: 1em !important; }

.divider-menu {
  margin: 0 !important; }

.btncol {
  margin: 0.5em 0;
  width: 100%; }

.editor-header {
  height: 40px !important;
  line-height: 40px !important; }

.editor-header-nav {
  height: auto;
  background-color: #efebe9;
  box-shadow: none; }

.editor-section {
  padding-top: 0;
  padding-bottom: 0; }

.card-search-nav {
  width: calc(100% - 8px) !important;
  margin: 4px auto 2px auto !important;
  background: white !important; }

nav.card-search-nav .input-field label i {
  color: #9e9e9e; }

.editor-header-title {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 0.5em;
  color: rgba(0, 0, 0, 0.87); }

.editor-header-button {
  padding: 0 10px !important;
  color: rgba(0, 0, 0, 0.87); }

.editor-header-button-apply {
  color: green; }

.editor-header-button-cancel {
  color: red; }

.row-inputs {
  margin: 0 !important;
  padding: 0 !important; }

table {
  border-spacing: 0;
  border: 1px solid rgba(0, 0, 0, 0.12); }

table.striped tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important; }

tbody {
  display: block;
  overflow: auto; }

thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; }

thead {
  background-color: #efebe9; }

td, th {
  padding: 0.5em 0.5em; }

thead {
  background-color: #efebe9; }

td, th {
  padding: 0.5em 0.5em; }

.table {
  display: table;
  width: 100%; }

.table-row {
  display: table-row;
  width: 100%; }

.col-auto {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none; }

.col-md-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px; }

.table-cell-input {
  width: 100% !important;
  text-align: right;
  margin: 0 !important; }

input[type='number'] {
  appearance: textfield; }

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button,
input[type='number']:hover::-webkit-inner-spin-button,
input[type='number']:hover::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.row-table {
  padding: 0.2em;
  margin: 0; }

.col-table {
  padding: 0 !important; }

.cb-state-label {
  font-size: 1.35em;
  margin: 1em 2em; }

.cb-header-label {
  position: absolute !important;
  top: -26px !important;
  font-size: 0.8rem !important; }

#editor-view-tabs {
  overflow: hidden; }

.card-image {
  position: relative;
  background-color: transparent;
  outline: 1px solid #8d6e63;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcKICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIgogICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIgogICB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiCiAgIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgeG1sbnM6c29kaXBvZGk9Imh0dHA6Ly9zb2RpcG9kaS5zb3VyY2Vmb3JnZS5uZXQvRFREL3NvZGlwb2RpLTAuZHRkIgogICB4bWxuczppbmtzY2FwZT0iaHR0cDovL3d3dy5pbmtzY2FwZS5vcmcvbmFtZXNwYWNlcy9pbmtzY2FwZSIKICAgd2lkdGg9IjYwMCIKICAgaGVpZ2h0PSI2MDAiCiAgIGlkPSJzdmcyIgogICB2ZXJzaW9uPSIxLjAiCiAgIHNvZGlwb2RpOnZlcnNpb249IjAuMzIiCiAgIGlua3NjYXBlOnZlcnNpb249IjAuNDYiCiAgIHNvZGlwb2RpOmRvY25hbWU9Ik5vX2ltYWdlX2F2YWlsYWJsZS5zdmciCiAgIGlua3NjYXBlOm91dHB1dF9leHRlbnNpb249Im9yZy5pbmtzY2FwZS5vdXRwdXQuc3ZnLmlua3NjYXBlIj4KICA8bWV0YWRhdGEKICAgICBpZD0ibWV0YWRhdGExMSI+CiAgICA8cmRmOlJERj4KICAgICAgPGNjOldvcmsKICAgICAgICAgcmRmOmFib3V0PSIiPgogICAgICAgIDxkYzpmb3JtYXQ+aW1hZ2Uvc3ZnK3htbDwvZGM6Zm9ybWF0PgogICAgICAgIDxkYzp0eXBlCiAgICAgICAgICAgcmRmOnJlc291cmNlPSJodHRwOi8vcHVybC5vcmcvZGMvZGNtaXR5cGUvU3RpbGxJbWFnZSIgLz4KICAgICAgICA8Y2M6bGljZW5zZQogICAgICAgICAgIHJkZjpyZXNvdXJjZT0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbGljZW5zZXMvcHVibGljZG9tYWluLyIgLz4KICAgICAgPC9jYzpXb3JrPgogICAgICA8Y2M6TGljZW5zZQogICAgICAgICByZGY6YWJvdXQ9Imh0dHA6Ly9jcmVhdGl2ZWNvbW1vbnMub3JnL2xpY2Vuc2VzL3B1YmxpY2RvbWFpbi8iPgogICAgICAgIDxjYzpwZXJtaXRzCiAgICAgICAgICAgcmRmOnJlc291cmNlPSJodHRwOi8vY3JlYXRpdmVjb21tb25zLm9yZy9ucyNSZXByb2R1Y3Rpb24iIC8+CiAgICAgICAgPGNjOnBlcm1pdHMKICAgICAgICAgICByZGY6cmVzb3VyY2U9Imh0dHA6Ly9jcmVhdGl2ZWNvbW1vbnMub3JnL25zI0Rpc3RyaWJ1dGlvbiIgLz4KICAgICAgICA8Y2M6cGVybWl0cwogICAgICAgICAgIHJkZjpyZXNvdXJjZT0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjRGVyaXZhdGl2ZVdvcmtzIiAvPgogICAgICA8L2NjOkxpY2Vuc2U+CiAgICA8L3JkZjpSREY+CiAgPC9tZXRhZGF0YT4KICA8c29kaXBvZGk6bmFtZWR2aWV3CiAgICAgaW5rc2NhcGU6d2luZG93LWhlaWdodD0iOTI3IgogICAgIGlua3NjYXBlOndpbmRvdy13aWR0aD0iMTI4MCIKICAgICBpbmtzY2FwZTpwYWdlc2hhZG93PSIyIgogICAgIGlua3NjYXBlOnBhZ2VvcGFjaXR5PSIwLjAiCiAgICAgZ3VpZGV0b2xlcmFuY2U9IjEwLjAiCiAgICAgZ3JpZHRvbGVyYW5jZT0iMTAuMCIKICAgICBvYmplY3R0b2xlcmFuY2U9IjEwIgogICAgIGJvcmRlcm9wYWNpdHk9IjEuMCIKICAgICBib3JkZXJjb2xvcj0iIzY2NjY2NiIKICAgICBwYWdlY29sb3I9IiNmZmZmZmYiCiAgICAgaWQ9ImJhc2UiCiAgICAgc2hvd2dyaWQ9ImZhbHNlIgogICAgIGlua3NjYXBlOnpvb209IjAuODIzMzMzMzMiCiAgICAgaW5rc2NhcGU6Y3g9IjMwMCIKICAgICBpbmtzY2FwZTpjeT0iMzAwIgogICAgIGlua3NjYXBlOndpbmRvdy14PSIwIgogICAgIGlua3NjYXBlOndpbmRvdy15PSIzNSIKICAgICBpbmtzY2FwZTpjdXJyZW50LWxheWVyPSJzdmcyIgogICAgIGlua3NjYXBlOnNob3dwYWdlc2hhZG93PSJmYWxzZSIKICAgICBzaG93Ym9yZGVyPSJ0cnVlIgogICAgIHNob3dndWlkZXM9ImZhbHNlIgogICAgIGlua3NjYXBlOnNuYXAtZ2xvYmFsPSJmYWxzZSIKICAgICBpbmtzY2FwZTpzbmFwLWludGVyc2VjdGlvbi1ncmlkLWd1aWRlPSJmYWxzZSIgLz4KICA8ZGVmcwogICAgIGlkPSJkZWZzNCI+CiAgICA8aW5rc2NhcGU6cGVyc3BlY3RpdmUKICAgICAgIHNvZGlwb2RpOnR5cGU9Imlua3NjYXBlOnBlcnNwM2QiCiAgICAgICBpbmtzY2FwZTp2cF94PSIwIDogMzAwIDogMSIKICAgICAgIGlua3NjYXBlOnZwX3k9IjAgOiAxMDAwIDogMCIKICAgICAgIGlua3NjYXBlOnZwX3o9IjYwMCA6IDMwMCA6IDEiCiAgICAgICBpbmtzY2FwZTpwZXJzcDNkLW9yaWdpbj0iMzAwIDogMjAwIDogMSIKICAgICAgIGlkPSJwZXJzcGVjdGl2ZTEzIiAvPgogIDwvZGVmcz4KICA8ZwogICAgIGlkPSJsYXllcjEiPgogICAgPHBhdGgKICAgICAgIHN0eWxlPSJvcGFjaXR5OiAxOyBmaWxsOiByZ2IoMjU1LCAyNTUsIDI1NSk7IGZpbGwtb3BhY2l0eTogMTsgZmlsbC1ydWxlOiBub256ZXJvOyBzdHJva2U6IHJnYigxNzAsIDE3MCwgMTcwKTsgc3Ryb2tlLXdpZHRoOiAxMDsgc3Ryb2tlLWxpbmVjYXA6IHNxdWFyZTsgc3Ryb2tlLWxpbmVqb2luOiBtaXRlcjsgc3Ryb2tlLW1pdGVybGltaXQ6IDQ7IHN0cm9rZS1kYXNoYXJyYXk6IG5vbmU7IHN0cm9rZS1kYXNob2Zmc2V0OiAwcHQ7IHN0cm9rZS1vcGFjaXR5OiAxOyIKICAgICAgIGlkPSJwYXRoMjE2MiIKICAgICAgIGQ9Ik0gNTgwIDMwMCBBIDI4MCAyODAgMCAxIDEgIDIwLDMwMCBBIDI4MCAyODAgMCAxIDEgIDU4MCAzMDAgeiIgLz4KICAgIDx0ZXh0CiAgICAgICB4bWw6c3BhY2U9InByZXNlcnZlIgogICAgICAgc3R5bGU9ImZvbnQtc2l6ZTogMTJweDsgZm9udC1zdHlsZTogbm9ybWFsOyBmb250LXdlaWdodDogbm9ybWFsOyB0ZXh0LWFsaWduOiBjZW50ZXI7IGxpbmUtaGVpZ2h0OiAxMjUlOyB0ZXh0LWFuY2hvcjogbWlkZGxlOyBmaWxsOiByZ2IoMCwgMCwgMCk7IGZpbGwtb3BhY2l0eTogMTsgc3Ryb2tlOiBub25lOyBzdHJva2Utd2lkdGg6IDFweDsgc3Ryb2tlLWxpbmVjYXA6IGJ1dHQ7IHN0cm9rZS1saW5lam9pbjogbWl0ZXI7IHN0cm9rZS1vcGFjaXR5OiAxOyBmb250LWZhbWlseTogJ0JpdHN0cmVhbSBWZXJhIFNhbnMnOyIKICAgICAgIHg9IjMwMC4wMzEiCiAgICAgICB5PSIyMzAuNTQ3IgogICAgICAgaWQ9InRleHQzMTM0Ij48dHNwYW4KICAgICAgICAgeD0iMzAwLjAzMSIKICAgICAgICAgeT0iMjMwLjU0NyIKICAgICAgICAgaWQ9InRzcGFuMzEzOCIKICAgICAgICAgc3R5bGU9ImZvbnQtc2l6ZTogNjRweDsgZm9udC1zdHlsZTogbm9ybWFsOyBmb250LXZhcmlhbnQ6IG5vcm1hbDsgZm9udC13ZWlnaHQ6IG5vcm1hbDsgZm9udC1zdHJldGNoOiBub3JtYWw7IHRleHQtYWxpZ246IGNlbnRlcjsgbGluZS1oZWlnaHQ6IDEyNSU7IHRleHQtYW5jaG9yOiBtaWRkbGU7IGZpbGw6IHJnYig3MCwgNzAsIDcwKTsgZmlsbC1vcGFjaXR5OiAxOyBmb250LWZhbWlseTogJ0x1Y2lkYSBTYW5zIFVuaWNvZGUnOyI+0J3QldCiPC90c3Bhbj48dHNwYW4KICAgICAgICAgeD0iMzAwLjAzMSIKICAgICAgICAgeT0iMzEwLjU0NyIKICAgICAgICAgc3R5bGU9ImZvbnQtc2l6ZTogNjRweDsgZm9udC1zdHlsZTogbm9ybWFsOyBmb250LXZhcmlhbnQ6IG5vcm1hbDsgZm9udC13ZWlnaHQ6IG5vcm1hbDsgZm9udC1zdHJldGNoOiBub3JtYWw7IHRleHQtYWxpZ246IGNlbnRlcjsgbGluZS1oZWlnaHQ6IDEyNSU7IHRleHQtYW5jaG9yOiBtaWRkbGU7IGZpbGw6IHJnYig3MCwgNzAsIDcwKTsgZmlsbC1vcGFjaXR5OiAxOyBmb250LWZhbWlseTogJ0x1Y2lkYSBTYW5zIFVuaWNvZGUnOyIKICAgICAgICAgaWQ9InRzcGFuMjI0NSI+0JTQntCh0KLQo9Cf0J3QntCT0J48L3RzcGFuPjx0c3BhbgogICAgICAgICB4PSIzMDAuMDMxIgogICAgICAgICB5PSIzOTAuNTQ3IgogICAgICAgICBpZD0idHNwYW4zMTQyIgogICAgICAgICBzdHlsZT0iZm9udC1zaXplOiA2NHB4OyBmb250LXN0eWxlOiBub3JtYWw7IGZvbnQtdmFyaWFudDogbm9ybWFsOyBmb250LXdlaWdodDogbm9ybWFsOyBmb250LXN0cmV0Y2g6IG5vcm1hbDsgdGV4dC1hbGlnbjogY2VudGVyOyBsaW5lLWhlaWdodDogMTI1JTsgdGV4dC1hbmNob3I6IG1pZGRsZTsgZmlsbDogcmdiKDcwLCA3MCwgNzApOyBmaWxsLW9wYWNpdHk6IDE7IGZvbnQtZmFtaWx5OiAnTHVjaWRhIFNhbnMgVW5pY29kZSc7Ij7QmNCX0J7QkdCg0JDQltCV0J3QmNCvPC90c3Bhbj48L3RleHQ+CiAgPC9nPgo8L3N2Zz4K");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px; }

.input-number {
  direction: rtl; }

.product-col-name {
  width: 54%; }

.product-col-quantity {
  width: 15%;
  text-align: right; }

.product-col-unit {
  width: 8%; }

.product-col-sum {
  width: 15%;
  text-align: right; }

.product-col-btn {
  width: 40px; }

.product-col-button-delete {
  color: rgba(0, 0, 0, 0.87); }
