<div id="editor-view-account">
    <div class="padding-0001em">

        <div class="section">
            <h5 data-bind="text:Header"></h5>
        </div>

        <div class="row row-inputs">
            <div class="col s12 m12 l12 xl12">
                <div class="input-field">
                    <input id="editor-view-account-name" type="text" data-length="60" data-bind="value:editModel.name">
                    <label for="editor-view-account-name" data-bind="text:labelName"></label>
                </div>
            </div>
            <div class="col s12 m6 l4 xl3">
                <div class="input-field">
                    <input id="editor-view-account-number" type="text" data-length="20" data-bind="value:editModel.number">
                    <label for="editor-view-account-number" data-bind="text:labelNumber"></label>
                </div>
            </div>
        </div>
    </div>
</div>
