<div id="editor-view-organization">
    <div class="row">
        Редактор организации
    </div>

    <div class="row">
        <div class="col s12 m12 l12 xl12">
            <div class="input-field">
                <input id="editor-view-organization-name" type="text">
                <label for="editor-view-organization-name">Наименование компании</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l4 xl3">
            <div class="input-field">
                <input id="editor-view-organization-website" type="url">
                <label for="editor-view-organization-website">Веб-сайт</label>
            </div>
        </div>
        <div class="col s12 m6 l4 xl3">
            <div class="input-field">
                <input id="editor-view-organization-email" type="email">
                <label for="editor-view-organization-email">E-mail</label>
            </div>
        </div>
        <div class="col s12 m6 l4 xl3">
            <div class="input-field">
                <input id="editor-view-organization-phone" type="tel">
                <label for="editor-view-organization-phone">Телефон</label>
            </div>
        </div>
    </div>
</div>
