<div id="editor-view-productmaprow">

    <div class="row row-inputs">
        <div id="editor-view-productmaprow-product-row" class="input-field col s12 m8 l6 xl6">
        </div>
        <div id="editor-view-productmaprow-unit-row" class="input-field col s6 m4 l2 xl2">
        </div>
    </div>
    <div class="row row-inputs">
        <div class="input-field col s6 m4 l2 xl2">
            <input id="editor-view-productmaprow-brutto" type="number" class="right-align"  data-bind="value:editModel.brutto">
            <label for="editor-view-productmaprow-brutto" data-bind="text:labelBrutto"></label>
        </div>
    </div>
    <div class="row row-inputs">
        <div class="input-field col s6 m4 l2 xl2">
            <input id="editor-view-productmaprow-netto" type="number" class="right-align" data-bind="value:editModel.netto">
            <label for="editor-view-productmaprow-netto" data-bind="text:labelNetto"></label>
        </div>
        <div class="input-field col s6 m4 l2 xl2">
            <input id="editor-view-productmaprow-percentcold" type="number" class="right-align" data-bind="value:editModel.percentcold">
            <label for="editor-view-productmaprow-percentcold" data-bind="text:labelPercentCold"></label>
        </div>
    </div>
    <div class="row row-inputs">
        <div class="input-field col s6 m4 l2 xl2">
            <input id="editor-view-productmaprow-exitproduct" type="number" class="right-align" data-bind="value:editModel.exitproduct">
            <label for="editor-view-productmaprow-netto" data-bind="text:labelExitProduct"></label>
        </div>
        <div class="input-field col s6 m4 l2 xl2">
            <input id="editor-view-productmaprow-percentheat" type="number" class="right-align" data-bind="value:editModel.percentheat">
            <label for="editor-view-productmaprow-percentheat" data-bind="text:labelPercentHeat"></label>
        </div>
    </div>
    <div class="row row-inputs">
        <div class="input-field col s12 m12 l12 xl12">
            <input id="editor-view-productmaprow-description" type="text" data-bind="value:editModel.description">
            <label for="editor-view-productmaprow-description" data-bind="text:labelDescription" data-length="232"></label>
        </div>
    </div>
</div>
