<div id="editor-view-product">
    <div class="row row-inputs">
        <ul id="editor-view-product-tabs" class="tabs">
            <li class="tab col s6 m6 l4 xl4" id="editor-view-product-tab1"><a class="active" href="#editor-view-tab-product" data-bind="text:labelProduct"></a></li>
            <li class="tab col s6 m6 l4 xl4"><a href="#editor-view-product-tab-accounting" data-bind="text:labelAccounting"></a></li>
            <li class="tab col s6 m6 l4 xl4"><a href="#editor-view-product-tab-accessright" data-bind="text:labelAccessRight"></a></li>
        </ul>
    </div>


    <div id="editor-view-tab-product" class="padding-0001em">

        <div class="section editor-section">
            <h5 data-bind="text:labelProduct"></h5>
        </div>

        <div class="row row-inputs">
            <div class="input-field col s12 m6 l6 xl6">
                <input id="editor-view-product-name" type="text" data-length="60" data-bind="value:editModel.name">
                <label for="editor-view-product-name" data-bind="text:labelName"></label>
            </div>
        </div>
        <div class="row row-inputs">
            <div class="input-field col s12 m6 l4 xl3">
                <select id="editor-view-product-type" class="validate" data-bind="value:editModel.type">
                    <option value="0" data-bind="text:labelProduct"></option>
                    <option value="1" data-bind="text:labelProduction"></option>
                    <option value="2" data-bind="text:labelService"></option>
                </select>
                <label for="editor-view-product-type" data-bind="text:labelType"></label>
            </div>
            <div class="input-field col s12 m6 l4 xl3">
                <select id="editor-view-category-list"></select>
                <label for="editor-view-category-list" data-bind="text:labelIncludedInCategory"></label>
            </div>
        </div>
        <div class="row row-inputs">
            <div class="input-field col s12 m6 l4 xl3">
                <input id="editor-view-product-vendorcode" type="text" data-length="18" data-bind="value:editModel.vendorcode">
                <label for="editor-view-product-vendorcode" data-bind="text:labelVendorCode"></label>
            </div>
            <div class="input-field col s12 m6 l4 xl3">
                <input id="editor-view-product-barcode" type="text" data-length="18" data-bind="value:editModel.barcode">
                <label for="editor-view-product-barcode" data-bind="text:labelBarCode"></label>
            </div>
        </div>

        <div class="section">
            <h5 data-bind="text:labelPosTerminal"></h5>
        </div>

        <div class="row">
            <div class="col s12 m12 l12 xl12">
                <label>
                    <input type="checkbox" data-bind="value:editModel.putonsale" />
                    <span data-bind="text:labelPutOnSale"></span>
                </label>
            </div>
        </div>

        <div class="row row-inputs">
            <div class="col s12 m4 l4 xl2">
                <div class="row" style="margin-bottom: 0;">
                    <div class="col s12 m12 l12 xl12 center-align">
                        <img id="editor-view-product-photo" class="card-image" />
                        <input type="file" id="editor-view-image-input" style="display:none" />
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m12 l12 xl12">
                        <a id="editor-view-product-addphoto" class="btn btncol" data-bind="text:labelAddPhoto"></a>
                    </div>
                </div>
            </div>
            <div class="input-field col s12 m8 l8 xl10">
                <textarea id="editor-view-product-description" class="materialize-textarea" data-length="3098" data-bind="value:editModel.description"></textarea>
                <label for="editor-view-product-description" data-bind="text:labelDescription"></label>
            </div>
        </div>
    </div>

    <div id="editor-view-product-tab-accounting" class="padding-0001em">
        <div class="section editor-section">
            <h5 data-bind="text:labelAccountingParameters"></h5>
        </div>

        <div class="row row-inputs">
            <div class="input-field col s12 m8 l6 xl6">
                <select id="editor-view-product-unit" class="validate" data-bind="value:editModel.unit"></select>
                <label for="editor-view-product-unit" data-bind="text:labelUnit"></label>
            </div>
        </div>

        <div class="row row-inputs">
            <div class="input-field col s6 m4 l2 xl2">
                <input id="editor-view-product-quantity" type="number" data-bind="value:editModel.quantity">
                <label for="editor-view-product-quantity" data-bind="text:labelQuantity"></label>
            </div>
        </div>

        <div class="row row-inputs">
            <div class="input-field col s12 m8 l6 xl6">
                <select id="editor-view-product-currency" class="validate" data-bind="value:editModel.currency"></select>
                <label for="editor-view-product-currency" data-bind="text:labelCurrency"></label>
            </div>
        </div>

        <div class="row row-inputs">
            <div class="input-field col s6 m4 l2 xl2">
                <input id="editor-view-product-costprice" type="number" data-bind="value:editModel.costprice">
                <label for="editor-view-product-costprice" data-bind="text:labelCostPrice"></label>
            </div>
            <div class="input-field col s6 m4 l2 xl2">
                <input id="editor-view-product-sellingprice" type="number" data-bind="value:editModel.sellingprice">
                <label for="editor-view-product-sellingprice" data-bind="text:labelSellingPrice"></label>
            </div>
        </div>

    </div>

    <div id="editor-view-product-tab-accessright">
        <div class="row row-table">
            <div class="col s12 m12 l12 xl12 col-table">
                <table id="employee-rigths" class="highlight z-depth-1">
                    <thead>
                        <tr>
                            <th data-bind="text:labelSalePoint"></th>
                            <th data-bind="text:labelAccess"></th>
                        </tr>
                    </thead>
                    <tbody id="product-rigths-rows"></tbody>
                </table>
            </div>
        </div>
    </div>

</div>
