<div id="editor-view-reason">
    <div class="padding-0001em">

        <div class="section">
            <h5 data-bind="text:Header"></h5>
        </div>

        <div class="row row-inputs">
            <div class="col s12 m12 l12 xl12">
                <div class="input-field">
                    <input id="editor-view-reason-name" type="text" data-length="112" data-bind="value:editModel.name">
                    <label for="editor-view-reason-name" data-bind="text:labelName"></label>
                </div>
            </div>
        </div>
    </div>
</div>
