<div id="editor-view-salepoint">
    <div class="row">
    </div>

    <div class="row">
        <div class="input-field col s12 m6 l4 xl3">
            <select id="editor-view-company-list" class="validate">
            </select>
            <label for="editor-view-company-list" data-bind="text:labelCompany">Компания</label>
        </div>
        <div class="col s12 m6 l8 xl9">
            <div class="input-field">
                <input id="editor-view-salepoint-name" class="validate" type="text" data-bind="value:editModel.salepoint.name">
                <label for="editor-view-salepoint-name" data-bind="text:labelSalepointName">Наименование точки продаж</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l4 xl3">
            <div class="input-field">
                <i class="material-icons prefix">my_location</i>
                <input id="editor-view-organization-website" class="validate" type="url" data-length="54" data-bind="value:editModel.salepoint.info1.city">
                <label for="editor-view-organization-website" data-bind="text:labelCity">Город</label>
            </div>
        </div>
        <div class="col s12 m6 l4 xl3">
            <div class="input-field">
                <i class="material-icons prefix">place</i>
                <input id="editor-view-organization-email" class="validate" type="email" data-length="54" data-bind="value:editModel.salepoint.info1.address">
                <label for="editor-view-organization-email" data-bind="text:labelAddress">Адрес</label>
            </div>
        </div>
        <div class="col s12 m6 l4 xl3">
            <div class="input-field">
                <i class="material-icons prefix">schedule</i>
                <input id="editor-view-organization-phone" class="validate" type="tel" data-length="18" data-bind="value:editModel.salepoint.info1.schedule">
                <label for="editor-view-organization-phone" data-bind="text:labelSchedule">Расписание</label>
            </div>
        </div>
    </div>
</div>
