<div id="editor-view-salepoint">
    <div class="padding-0001em">

        <div class="section" style="padding-top: 0; padding-bottom: 0">
            <h5 data-bind="text:Header"></h5>
        </div>

        <div class="row row-inputs">
            <div class="input-field col s12 m6 l4 xl3">
                <select id="editor-view-company-list" class="validate"></select>
                <label for="editor-view-company-list" data-bind="text:labelCompany">Компания</label>
            </div>
            <div class="col s12 m6 l8 xl9">
                <div class="input-field">
                    <input id="editor-view-salepoint-name" class="validate" type="text" data-bind="value:editModel.name">
                    <label for="editor-view-salepoint-name" data-bind="text:labelSalepointName">Наименование точки продаж</label>
                </div>
            </div>
        </div>

        <div class="section" style="padding-top: 0; padding-bottom: 0">
            <h5 data-bind="text:labelSalePointInfo"></h5>
        </div>
        <div class="row row-inputs">
            <div class="col s12 m6 l4 xl3">
                <div class="input-field">
                    <i class="material-icons prefix">my_location</i>
                    <input id="editor-view-salepoint-city" class="validate" type="text" data-length="54" data-bind="value:editModel.city">
                    <label for="" editor-view-salepoint-cit" data-bind="text:labelCity">Город</label>
                </div>
            </div>
            <div class="col s12 m6 l4 xl3">
                <div class="input-field">
                    <i class="material-icons prefix">place</i>
                    <input id="editor-view-salepoint-address" class="validate" type="text" data-length="54" data-bind="value:editModel.address">
                    <label for="editor-view-salepoint-address" data-bind="text:labelAddress">Адрес</label>
                </div>
            </div>
            <div class="col s12 m6 l4 xl3">
                <div class="input-field">
                    <i class="material-icons prefix">schedule</i>
                    <input id="editor-view-salepoint-schedule" class="validate" type="text" data-length="18" data-bind="value:editModel.schedule">
                    <label for="editor-view-salepoint-schedule" data-bind="text:labelSchedule">Расписание</label>
                </div>
            </div>
        </div>
    </div>
</div>
