<div id="card-view-salepoint">
    <div class="row" style="display:none">
        <span class="editor-header-title">Test</span>'
        <ul class="pagination pager" style="margin:0" id="card-view-salepoint-table-pager"></ul>
    </div>
    <nav class="card-search-nav editor-header">
        <div class="nav-wrapper">
            <form>
                <div class="input-field">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search"><i class="material-icons editor-header">search</i></label>
                    <i class="material-icons editor-header">close</i>
                </div>
            </form>
        </div>
    </nav>
    <div class="row row-table">
        <div class="col s12 m12 l12 xl12 col-table">
            <table id="card-view-salepoint-table" class="highlight striped">
                <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Город</th>
                        <th class="hide-on-small-only">Адрес</th>
                        <th class="hide-on-small-only">Расписание</th>
                    </tr>
                </thead>

                <tbody id="card-view-salepoint-rows"></tbody>
            </table>
        </div>
    </div>


</div>


