<div id="card-view-salepoint">
    <div class="row">
       <span class="editor-header-title">Test</span>'
       <ul class="pagination pager" style="margin:0" id="card-view-salepoint-table-pager"></ul>
    </div>

    <div class="row row-table">
        <div class="col s12 m12 l12 xl12 col-table">
            <table id="card-view-salepoint-table" class="highlight striped">
                <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Город</th>
                        <th class="hide-on-small-only">Адрес</th>
                        <th class="hide-on-small-only">Расписание</th>
                    </tr>
                </thead>

                <tbody id="card-view-salepoint-rows"></tbody>
            </table>
        </div>
    </div>


</div>


