<div id="editor-view-server">
    <div class="padding-0001em">

        <div class="section">
            <h5 data-bind="text:Header"></h5>
        </div>

        <div class="row row-inputs">
            <div class="col s12 m6 l6 xl4">
                <div class="input-field">
                    <input id="editor-view-server-address" type="text" data-length="50" data-bind="value:editModel.address">
                    <label for="editor-view-server-address" data-bind="text:labelAddress"></label>
                </div>
            </div>
        </div>
        <div class="row row-inputs">
            <div class="col s12 m6 l6 xl4">
                <div class="input-field">
                    <input id="editor-view-server-user" type="text" data-length="50" data-bind="value:editModel.user">
                    <label for="editor-view-server-user" data-bind="text:LabelLogin"></label>
                </div>
            </div>
        </div>
        <div class="row row-inputs">
            <div class="col s12 m6 l6 xl4">
                <div class="input-field">
                    <input id="editor-view-server-password" type="text" data-length="50" data-bind="value:editModel.pass">
                    <label for="editor-view-server-password" data-bind="text:labelPassword"></label>
                </div>
            </div>
        </div>
    </div>
</div>
